# Dictionaries

In [4]:
my_dict={
    "saurav":24,
    "kausal":28,
    "rajesh":22
}

In [10]:
print(f"The Age Of Kaushal  is {my_dict["kausal"]}")

The Age Of Kaushal  is 28

In [12]:
my_dict["manshu"]=23

In [14]:
my_dict

{'saurav': 24, 'kausal': 28, 'rajesh': 22, 'manshu': 23}

In [24]:
for name,age in my_dict.items():
    print("Name:",name.capitalize()," ","Age:",age)

Name: Saurav   Age: 24
Name: Kausal   Age: 28
Name: Rajesh   Age: 22
Name: Manshu   Age: 23

In [26]:
del my_dict["rajesh"]

In [28]:
for name,age in my_dict.items():
    print("Name:",name.capitalize()," ","Age:",age)

Name: Saurav   Age: 24
Name: Kausal   Age: 28
Name: Manshu   Age: 23

# CaseStudy

In [71]:
# Dictionary for storing items and Stock
inventory={
    "rice":30,
    "suger":20,
    "wheat":40
}

In [73]:
# Displaying all Itw=ems and thier quantity
for items,quantity in inventory.items():
    print("Item:",items.capitalize()," ","Stock:",quantity,"KG")

Item: Rice   Stock: 30 KG
Item: Suger   Stock: 20 KG
Item: Wheat   Stock: 40 KG

In [75]:
# Adding new Item And Updating Exiting One
inventory["salt"]=10
print("Item Added Successfully")
inventory["suger"]+=10
print("Stock Upadted Successfully")

Item Added Successfully
Stock Upadted Successfully

In [77]:
for items,quantity in inventory.items():
    print("Item:",items.capitalize()," ","Stock:",quantity,"KG")

Item: Rice   Stock: 30 KG
Item: Suger   Stock: 30 KG
Item: Wheat   Stock: 40 KG
Item: Salt   Stock: 10 KG

In [83]:
# Item Availablity
item="salt"
if item in inventory:
    print(f"{item.capitalize()} in stock: {inventory[item]} KG")
else:
    print(f"{item.capitalize()} Not availabe")

Salt in stock: 10 KG

# Set

In [86]:
a={1,2,3,4}
b={3,4,5,6}

In [110]:
# Union a|b or a.union(b)
a|b
a.union(b)

{1, 2, 3, 4, 5, 6}

In [108]:
# intersection a&b or a.intersection(b)
a&b
a.intersection(b)

{3, 4}

In [106]:
# Diffrence a-b or a.diffrence(b)
a-b
a.difference(b)

{1, 2}

In [112]:
# Symmetric Diffrence a^b or a.symmetric_difference(b)
a^b
a.symmetric_difference(b)

{1, 2, 5, 6}

In [116]:
# Subset a<=b or a.issubset(b)
a<=b
a.issubset(b)

False

In [122]:
# superset
a>=b
a.issuperset(b)

False

In [132]:
# proper sebset
a<b

False

In [134]:
# proper superset
a>b

False

In [136]:
a.isdisjoint(b)

False

In [162]:
A = {"Amit", "Saurav", "Rahul", "Neha", "Pooja"}
B = {"Saurav", "Ankit", "Neha", "Riya"}
C = {"Rahul", "Neha", "Kunal"}

In [164]:
All_students = {"Amit", "Saurav", "Rahul", "Neha", "Pooja", "Ankit", "Riya", "Kunal", "Vikas"}

In [166]:
enrolled=A|B|C
print("List of Student Enrolled in at least one Course :",enrolled)

List of Student Enrolled in at least one Course : {'Rahul', 'Pooja', 'Neha', 'Ankit', 'Amit', 'Saurav', 'Riya', 'Kunal'}

In [168]:
enrolled = A&B
print("Students enrolled in both Python and Data Science are:",enrolled)

Students enrolled in both Python and Data Science are: {'Neha', 'Saurav'}

In [170]:
enrolled =A-B-C
print("Students enrolled only in Python are:",enrolled)

Students enrolled only in Python are: {'Amit', 'Pooja'}

In [172]:
# students enrolled in Python or Data Science but not both.
e=A^B
print("Students enrolled in Python or Data Science but not both are:",e)

Students enrolled in Python or Data Science but not both are: {'Rahul', 'Ankit', 'Pooja', 'Amit', 'Riya'}

In [174]:
# tudents enrolled in all three courses
e=A|B|C
print("Students enrolled in all three courses are:",e)

Students enrolled in all three courses are: {'Rahul', 'Pooja', 'Neha', 'Ankit', 'Amit', 'Saurav', 'Riya', 'Kunal'}

In [178]:
# all Python students are also Data Science students
e=A.issubset(B)
print("all Python students are also Data Science students:",e)

all Python students are also Data Science students: False

In [180]:
# students who are enrolled in none of the courses
e=All_students - (A|B|C)
print("students who are enrolled in none of the courses are:",e)

students who are enrolled in none of the courses are: {'Vikas'}